{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load socialaccount %}

{% if request.resolver_match.url_name == 'signup' %}
    <h1>Sign Up</h1><br>
{% elif request.resolver_match.url_name == 'update' %}
    <h1>Edit</h1><br>
{% elif request.resolver_match.url_name == 'password' %}
    <h1>Password Edit</h1><br>
{% else %}
    <h1>Login</h1><br>
{% endif %}
<form method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if request.resolver_match.url_name == 'signup' %}
        {% bootstrap_button "Sign Up" button_type="submit" button_class="btn-primary" %}
    {% elif request.resolver_match.url_name == 'Login' %}
        {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
    {% else %}
        <div class="d-flex">
        {% bootstrap_button "Edit" button_type="submit" button_class="btn-primary" %}
        <a href="{% url 'people' user %}" class='btn btn-info mx-1'>Back</a>
            
        </div>
        <hr>
        <a href="{% provider_login_url 'kakao' method='oauth2' %}" class='btn btn-warning'>kakao 로그인</a>

    {% endif %}
</form>
{% endblock %}